{%extends 'all-diary/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">

    <div class="jumbotron" style="text-align: center; font-family: 'Monoton', cursive; font-size: 70px;">
        <h1>Welcome To My Travel Diary</h1>
    </div>

    {% for new_item in new %}
    <div class="jumbotron">
    <div class="row">

        <div class="col-md-4">
            <a href="{{new_item.image.url}}"> <img src="{{new_item.image.url}}" class="img-responsive" alt="Image" style="width: 400px; height: 400px;"></a>
        </div>

        

    </div>
    <br>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No News Items</h2>
    </div>
</div>
    {% endfor %}
    

    

</div>

{% endblock %}
