{%extends 'all-diary/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">

    <div class="jumbotron" style="text-align: center; font-family: 'Monoton', cursive; background-color: black">
        <h1 style="font-size: 80px; color: white">Welcome To My Travel Diary</h1>
    </div>

    <div class="row">
    {% for new_item in new %}
    

        <div class="col-sm-6 col-md-4">
            <br>
            <img src="{{new_item.image.url}}" class="img-responsive" alt="Image" style="width: 600px; height: 550px;" data-toggle="modal" data-target="#basicExampleModal{{new_item.id}}">
            <br>
        </div>
    
        <div class="modal fade" id="basicExampleModal{{new_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{new_item.image_name}}</h5>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body">
                    <img src="{{new_item.image.url}}" class="img-responsive" alt="Image" style="width: 765px; height: 550px;"">
                    <hr>
                    <p>Description: {{new_item.description}}</p>
                    <p>Editor: {{new_item.editor}}</p>
                    <p>Posted: {{new_item.pub_date |timesince}} ago</p>
                    <p>Location: {{new_item.image_location}}</p>
                </div>
                <div class="modal-footer">
                </div>
                </div>
            </div>
            </div>

        

    
    <br>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No News Items</h2>
    </div>

    {% endfor %}
</div>

    

</div>

{% endblock %}
